#CMake
.svn
*.so
*.depend
AmberSkyNet
AmberSkyNet.exe
err.txt
log.txt
*.log
*.layout
.objs
CMakeFiles
CMakeCache.txt
Makefile
AmberSkyNetVR.dll
cmake_install.cmake
asn*.dll
ambernet_portable.zip
AmberCannoidGame
bin/binw/*.dll
Thumbs.db
projects_ext/AmberCannonid/binw/*.dll
*.exe
